.settings-root {
    -fx-background-color: transparent;
}

.settings-sound-effect-button .setting-item-label {
    -fx-font-size: 24px;
    -fx-padding: 0 0 0 32;
}

.settings-sound-effect-button .slider-value-label {
    -fx-font-size: 22px;
    -fx-padding: 0 0 0 12;
}

.settings-value-button-value {
    -fx-text-fill: #f4d85a;
    -fx-font-size: 21px;
    -fx-font-weight: 800;
    -fx-text-alignment: right;
}
